{# Use this template for your institution's footer content #}
<div class="footer-wrapper">
  <div class="d-flex justify-content-center">
    <div class="p-2">Follow Us On</div>
    <div class="p-2">
      <a class="igram" href="https://www.instagram.com/msklibrary/" target="_blank" title="Instagram">
        <img class="insta_color" src="{{ asset('img/light-instagram-96.png') }}">
      </a>
    </div>
    <div class="p-2">
      <a class="twitter" href="https://twitter.com/MSKLibrary" target="_blank" title="Twitter">
        <img class="insta_color" src="{{ asset('img/light-twitter-96.png') }}">
      </a>
    </div>
  </div> 
  <div class="d-flex justify-content-center">
    <div class="p-2"><a href="https://www.mskcc.org">Memorial Sloan Kettering Cancer Center</a></div>
    <div class="p-2"><a href="https://www.mskcc.org/cancer-care">Memorial Hospital for Cancer and Allied Diseases</a></div>
    <div class="p-2"><a href="https://www.mskcc.org/research/ski">Sloan Kettering Institute</a></div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-2"><a href="https://www.sloankettering.edu/gerstner">Gerstner Sloan Kettering Graduate School of Biomedical Sciences</a></div>
    <div class="p-2"><a href="https://libguides.mskcc.org/patienteducation">Patients &amp; Caregivers</a></div>
  </div>
  <div class="d-flex justify-content-center">
    <hr class="w-50 bg-light" />
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-2"><a href="https://library.mskcc.org/legal-disclaimer">Legal Disclaimer</a></div>
    <div class="p-2"><a href="https://library.mskcc.org/about/giving-to-the-library">Giving to the Library</a></div>
  </div>
  <div class="d-flex justify-content-center">
    <div id="footer-message">
      <a class="inside-mskcc" href="https://mskcc.sharepoint.com">OneMSK</a>
      © 2023&nbsp;Memorial Sloan Kettering Cancer Center Library
    </div>
  </div>
</div>