{# This assumes your logo has been uploaded to: <symfony_home>/web/img/logo.jpg #}
{# Remember to enter a URL if you want the logo to link anywhere #}
<span class="logo-container float-left float-sm-right d-inline-block d-sm-flex"><a href="https://www.mskcc.org" target="_blank"><img id="msk-logo" class="pt-2 .px-sm-0" alt="Memorial Sloan Kettering Cancer Center logo" class="img-fluid" src="{{ asset('img/msk-logo.png') }}" border="0" /></a></span>
