###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local

/config/services.yaml
/config/packages/security.yaml
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
#
#### ignore institution specific stuff ###
/public/css/institution/
# /public/img/institution/
# /templates/institution/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

.DS_Store
/public/.DS_Store
