{# Use this template for your institution's footer content #}
<div class="footer-wrapper">
  <div class="row">
    <div id="msk-social-footer" class="col-md-2 col-md-offset-5 text-center">
      Follow Us On
      <a class="igram" href="https://www.instagram.com/msklibrary/" target="_blank" title="Instagram">
        <img class="insta_color" src="{{ asset('img/institution/light-instagram-96.png') }}">
      </a>
      <a class="twitter" href="http://www.twitter.com/MSKCC_Library" target="_blank" title="Twitter">
        <img class="insta_color" src="{{ asset('img/institution/light-twitter-96.png') }}">
      </a>
    </div>
  </div>
  <div class="row">
    <div id="footer-sites" class="col-md-6 col-md-offset-3 text-center">
        <a href="https://www.mskcc.org">Memorial Sloan Kettering Cancer Center</a>
        <span>|</span>
        <a href="https://www.mskcc.org/cancer-care">Memorial Hospital for Cancer and Allied Diseases</a>
        <span>|</span>
        <a href="https://www.mskcc.org/research-areas/programs-centers/ski">Sloan Kettering Institute</a>
    </div>
  </div>
  <div class="row">
    <div id="footer-sites-2" class="col-md-6 col-md-offset-3 text-center">
      <a href="https://www.sloankettering.edu/gerstner">Gerstner Sloan Kettering Graduate School of Biomedical Sciences</a>
      <span>|</span>
      <a href="https://library.mskcc.org/resource/patient-and-caregivers">Patients &amp; Caregivers</a>
    </div>
  </div>
  <div class="row">
    <hr class="col-md-6 col-md-offset-3 text-center" />
  </div>
  <div class="row">
    <div id="footer-notices" class="col-md-6 col-md-offset-3 text-center">
      <a href="https://library.mskcc.org/legal-disclaimer">Legal Disclaimer</a>
      <span>|</span>
      <a href="https://library.mskcc.org/about/giving-to-the-library">Giving to the Library</a>
		</div>
  </div>
  <div class="row">
    <div id="footer-message">
      <a class="inside-mskcc" href="https://one.mskcc.org/">OneMSK</a>
      <span class="inside-mskcc">|</span>
      © 2019&nbsp;Memorial Sloan Kettering Cancer Center Library
    </div>
  </div>
</div>