{# This assumes your logo has been uploaded to: <symfony_home>/web/img/logo.jpg #}
{# Remember to enter a URL if you want the logo to link anywhere #}
<span class="logo-container">
  <a href=""><img id="msk-logo" class="img-responsive" src="{{ asset('img/logo.png') }}" border="0"></a>
</span>